{% if paginator %}
<div class="d-flex justify-content-around px-3">
        {% if paginator.previous_page %}
            <a class="pagination-nav-active" href="{{ paginator.previous_page_path | relative_url }}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        {% else %}
            <span class="pagination-nav-inactive">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </span>
        {% endif %}

        <p>More</p>

        {% if paginator.next_page %}
            <a class="pagination-nav-active" href="{{ paginator.next_page_path | relative_url }}">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        {% else %}
            <span class="pagination-nav-inactive">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
        {% endif %}
</div>
{% endif %}