---
layout: default
---

<div class="row">
  <h1 class="d-flex justify-content-center">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      Categories
    {% endif %}
  </h1>

  {{ content }}

</div>

<div class="row mt-3">

  <!-- START ARCHIVE COLUMN -->
  <div class="col-md-8 py-2">
    {% if page.type == "years" %}
      {% include archive-by-years.html %}
    {% else %}
      {% include archive-by-tagories.html %}
    {% endif %}
  </div>

  <!-- START INFO COLUMN -->
  <div class="col-md-4 py-3">
    {% include about.html %}
    {% include other-posts.html %}
  </div>
</div>